datapack_compile_temp
curseforge_api.json
temp_dir
automated_test
automated_test_0
automated_test_1
automated_test_2
java
prior_tests
prior_tests\*
libs
gen_forceload_random
releases/*.jar
releases
prior_tests
temp_dir_2
_compiler_mcversion_jar.jar
.compile_cache/*